@import "tailwindcss";


body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.light {
  background-color: #fff;
  color: #000;
}
body.dark {
  background-color: #1a202c;
  color: #fff;
}

